<div class="product-form-padding">
  <% cache [I18n.locale, current_pricing_options, @product] do %>
    <div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
      <% @body_id = 'product-details' %>

      <div class="row">
      <div class="col-md-2"></div>
        <div class="col col-md-4" data-hook="product_left_part">
          <div data-hook="product_left_part_wrap">

            <div id="product-images" data-hook="product_images">
              <div id="main-image product-img-size" data-hook>
                <%= render partial: 'image' %>
              </div>
              <div id="thumbnails" data-hook>
                <%= render partial: 'thumbnails' %>
              </div>
            </div>

            <div data-hook="product_properties">
              <%= render partial: 'properties' %>
            </div>

            <div data-hook="promotions">
              <%= render partial: 'promotions' %>
            </div>

          </div>
        </div>

        <div class="col col-md-4 justify-content-end" data-hook="product_right_part">
          <div data-hook="product_right_part_wrap">

            <div id="product-description" data-hook="product_description">

              <h1 class="product-title" itemprop="name"><%= @product.name %></h1>

              <div class="product-description-size" itemprop="description" data-hook="description">
                <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
              </div>

              <div id="cart-form" data-hook="cart_form">
                <%= render partial: 'cart_form' %>
              </div>

            </div>

            <h5 class="email-to-friend2">Know someone who would like this? <%= link_to "Email a friend", email_to_friend_path("product", @product) %></h5>

            <%= render partial: 'taxons' %>

          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

    </div>
  <% end %>
</div>