<footer class="sixteen columns footer-css">
  <div class="container">
    <div class="footer-margin">
      <div class="row">

        <div class="col col-md-6">
          <p class="footer-text">MissionaryBox</p>
          <p class="footer-text">There's nothing here yet. Most likely some contact info will go here, or maybe some info about the website altogether. Maybe some links to various parts of the site, who knows?</p>
        </div>

        <div class="col col-md-2">
        </div>

        <div class="col col-md-4 text-center">
          <p></p>
          <p></p>
          <p class="footer-text">Could possibly put a newsletter sign up form here</p>
        </div>

      </div>
    </div>

    <div class="row"></div>
<hr>
    <div class="row">

    <div class="col-md-8 text-center">
    <%= link_to 'Terms', 'http://www.geekfulthinking.com', class: "footer-links-padding" %>
    <%= link_to 'Privacy', 'http://www.geekfulthinking.com', class: "footer-links-padding" %>
    <%= link_to 'Made in UT', 'http://www.geekfulthinking.com', class: "footer-links-padding" %>
    <%= link_to "\xA9 2017 Missionary Box", 'http://www.geekfulthinking.com', class: "footer-links-padding" %>
    </div>
      <div class="col-md-2 fa-icons-footer">
        <%= link_fa_to 'facebook-official fa-3x', '', 'https://www.facebook.com' %>
        <%= link_fa_to 'twitter-square fa-3x', '', 'https://www.twitter.com' %>
      </div>

      <div class="col-md-2 text-right text-center">
        Powered by <%= link_to 'GeekfulThinking', 'http://www.geekfulthinking.com', class: "powered-by" %>
      </div>

    </div>
  </div>
</footer>