<div class="homepage-background">
	<div class="main-img">
		<div class="container">
			<div class="row">
				<div class="text-outer">
					<div class="limit-min-max">
<!-- 	<video autoplay loop id="background-vide" muted plays-inline>
  <source src="assets/test.mp4" type="video/mp4">
</video> -->
						<h1>My Missionary Box Rocks! Here's Why!</h1>
						<h3>A monthly mystery box for missionaries filled with incredible and stylish apparel every month! Over $40 value in every box!</h3>
						<%= link_to "Create an Account to Get Started", signup_path, class: "btn btn-primary btn-style" %>
					</div>
				</div>
			</div>
		</div>
	</div>

<div class="card-container">
	<div class="row card-alignment-style">
		<div class="col-md-6 col-lg-3 col-6">
			<div class="card card-padding">
			  <img class="card-img-top card-pic-size image-responsive" src="https://s3-us-west-2.amazonaws.com/missionarybox/card1.jpg" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title"><%= @products.first.name %></h4>
			    <p class="card-text"><%= truncate(product_description(@products.first), length: 100, omission: '... (continued)', separator: ' ') rescue Spree.t(:product_has_no_description) %></p>
			    <a href="/products/<%= @products.first.slug %>" class="btn btn-primary product-btn-styles">Learn More</a>
			  </div>
			</div>
		</div>

		<div class="col-md-6 col-lg-3 col-6">
			<div class="card card-padding">
			  <img class="card-img-top card-pic-size" src="https://s3-us-west-2.amazonaws.com/missionarybox/card2.jpg" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title"><%= @products.second.name %></h4>
			    <p class="card-text"><%= truncate(product_description(@products.second), length: 100, omission: '... (continued)', separator: ' ') rescue Spree.t(:product_has_no_description) %></p>
			    <a href="/products/<%= @products.second.slug %>" class="btn btn-primary product-btn-styles">Learn More</a>
			  </div>
			</div>
		</div>

		<div class="col-md-6 col-lg-3 col-6">
			<div class="card card-padding">
			  <img class="card-img-top card-pic-size" src="https://s3-us-west-2.amazonaws.com/missionarybox/card3.jpg" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title"><%= @products.third.name %></h4>
			    <p class="card-text"><%= truncate(product_description(@products.third), length: 100, omission: '... (continued)', separator: ' ') rescue Spree.t(:product_has_no_description) %></p>
			    <a href="/products/<%= @products.third.slug %>" class="btn btn-primary product-btn-styles">Learn More</a>
			  </div>
			</div>
		</div>

		<div class="col-md-6 col-lg-3 col-6">
			<div class="card card-padding">
			  <img class="card-img-top card-pic-size" src="https://s3-us-west-2.amazonaws.com/missionarybox/card4.jpg" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title"><%= @products.fourth.name %></h4>
			    <p class="card-text"><%= truncate(product_description(@products.fourth), length: 100, omission: '... (continued)', separator: ' ') rescue Spree.t(:product_has_no_description) %></p>
			    <a href="/products/<%= @products.fourth.slug %>" class="btn btn-primary product-btn-styles">Learn More</a>
			  </div>
			</div>
		</div>
	</div>
</div>

<div class="sister-btn-styles">
	<button class="btn btn-primary sister-btn-styles2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><h2 class="dropdown-toggle">Accessories For Sister's Coming Soon!</h2></button>
	<div class="collapse" id="collapseExample">
	  <div class="card card-block sister-card-background">
		  <div class="row sister-toggle-style">
		    <div class="col-md-6">
		    	<img class="img-fluid img-size-sister"  src="https://s3-us-west-2.amazonaws.com/missionarybox/sisterimg.jpg">
		    </div>

		    <div class="col-md-6 toggle-text-right text-white">
		    	<h1>Sister Accessories Coming Soon!</h1>
		    	<h3>
		    		<ul>
		    			<li>Tights/Leggings</li>
		    			<li>Socks</li>
		    			<li>and More</li>
		    		</ul>
		    	</h3>
		    </div>
		  </div>
	  </div>
	</div>
</div>
</div>

<!-- <div data-hook="homepage_products">
  <%# cache(cache_key_for_products) do %>
    <%#= render partial: 'spree/products/products', locals: { products: @products } %>
  <%# end %>
</div> -->

<!-- <div class=" container sister-container">
	<div class="col-md-12">
		<div class="card">
  		<img class="card-img-top img-size-sister" src="https://s3-us-west-2.amazonaws.com/missionarybox/sisterimg.jpg" alt="Card image cap">
  		<div class="card-block">
    		<h3 class="card-text">My Missionary Box for Sisters COMING SOON!</h3>
  		</div>
		</div>
	</div>
</div> -->